.app__header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 15px;
  border-bottom: 1px solid lightgray;
}

.app__headerImage {
  height: 30px;
  object-fit: contain;
  background-color: white;
  border-radius: 1px solid white;
  border-radius: 10px;
}

.app {
  background-color: #fafafa;
  height: 100%;
}

.app__signUp {
  display: flex;
  flex-direction: column;
}

.btn {
  margin-left: 5px !important;
  border: 1px solid lightgray !important;
  background-color: white !important;
}
