.app__header {
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.app__headerImage {
  height: 30px;
  object-fit: contain;
}

.app {
  background-color: #fafafa;
  height: 100%;
}

.app__signUp {
  display: flex;
  flex-direction: column;
}
